<div class="title">{{file.name}}</div>
<file-editor [hidden]="!file.editing" [data]="file"></file-editor>
<div class="details" [hidden]="!file.active || file.editing">
  <div class="input-group">
    <label>File Path</label>
    <a href="{{file.path}}">{{file.path}}</a>
  </div>
  <span class="filesize">Size: {{file.size | filesize}}</span>
  <span class="modified">Last Modified: {{file.modified_date | date:'medium'}}</span>
  <div class="actions">
    <button *ngIf="fileType(file) === 'html'" [routerLink]="['PageEditor', {name: file.name}]">Edit</button>
    <button *ngIf="fileType(file) !== 'html'" (click)="edit(file)">Rename</button>
    <button *ngIf="fileType(file) !== 'html'" (click)="delete(file)" class="critical">Delete</button>
  </div>
</div>
