.title {
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
  white-space: nowrap;
}

.details {
  margin-top: 0.5em;
  transition: all 0.25s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.filesize {
  width: 7em;
  display: inline-block;
}

span.modified {
  padding-left: 1em;
}

div.actions {
  display: block;
  margin: 0.5em 1em 0.5em 0;
}
