<div>
  <h1>Control Panel</h1>

  The UEMF Control Panel is the one-stop-shop for all things related to the UEMF Website.
  If you have not yet already, please login to access the major functions of this application.
  <br>
  <br>
  If you encounter any issues while using the UEMF site or this Control Panel, please <a href="http://uemf.samanage.com">submit a ticket</a> and a member of the IT team will assist you.
  <br>
  <br>
  The control panel provides functionality as follows:
  <ul>
    <li>Get src links for images and files (for linking and referencing)</li>
    <li>Upload/Rename/Delete files stored as Website Content</li>
    <li>Edit existing pages using a rich text editor</li>
    <li>Manage your user account for this control panel</li>
  </ul>
  <br>
  If you did not intend to be here, or don't know how you got here, just close this tab and carry on.
  <!--
    Rather than wiring up two-way data-binding ourselves
    we can use Angular's [(ngModel)] syntax
    <input type="text" [(ngModel)]="title.value">
  -->
</div>