<div [ngClass]="{'ucp-important': !loggedIn, 'ucp-info': loggedIn, 'ucp-warning': warning}">
  <div *ngIf="!loggedIn">
    You are not logged in. You will not be able to access any part of this site without first logging in.
  </div>

  <div *ngIf="loggedIn">
    Hello, {{user.first_name}} {{user.last_name}}!
    <span class="ucp-pull-right">
      <button class="ucp-btn secondary light" (click)="logout()">Logout</button>
    </span>
  </div>

  <div *ngIf="warning">
    You will be logged out in {{secondsLeft}} seconds.
    <button (click)="sessionRenew()">
      <span *ngIf="!renewing">Stay Logged In</span>
      <spinner *ngIf="renewing"></spinner>
    </button>
  </div>
  {{loginMessage}}
</div>

<div class="ucp-login" [hidden]="loggedIn">
  <form *ngIf="formActive" (ngSubmit)="login()">
    <div class="ucp-input">
      <label for="email">Username</label>
      <input name="email" type="text" [(ngModel)]="user.email" required>
    </div>
    <div class="ucp-input">
      <label for="password">Password</label>
      <input name="password" type="password" [(ngModel)]="user.password" required>
    </div>
    <button class="ucp-btn light" type="submit">
      <span *ngIf="!submitting">Login</span>
      <spinner *ngIf="submitting"></spinner>
    </button>
    <a (click)='showRegister()' class="small">Don't have an account?</a>

    <div class="ucp-register" [hidden]='!displayRegister'>
      <div class="ucp-input">
        <label for="firstName">First Name</label>
        <input name="firstName" type="text" [(ngModel)]="user.first_name">
      </div>
      <div class="ucp-input">
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text" [(ngModel)]="user.last_name">
      </div>
      <button class="ucp-btn light" (click)="register()">Register</button>
    </div>
  </form>
</div>
