<div class="title">{{file.name}}</div>
<file-editor [hidden]="!file.editing" [data]="file"></file-editor>
<div class="details" [hidden]="!file.active || file.editing">
  <div class="ucp-input-group">
    <label>File Path</label>
    <a class="ucp-input" href="{{file.path}}">{{file.path}}</a>
  </div>
  <div class="ucp-input-group">
    <label>Size</label>
    <span>{{file.size | filesize}}</span>
  </div>
  <div class="ucp-input-group">
    <label>Last Modified</label>
    <span>{{file.modified_date | date:'medium'}}</span>
  </div>
  <div class="actions">
    <button class="ucp-btn" *ngIf="fileType(file) === 'html'" [routerLink]="['PageEditor', {name: file.name}]">Edit</button>
    <button class="ucp-btn" *ngIf="fileType(file) !== 'html'" (click)="edit(file)">Rename</button>
    <button class="ucp-btn ucp-critical" *ngIf="fileType(file) !== 'html'" (click)="delete(file)">Delete</button>
  </div>
</div>
