<style>
  .my-drop-zone { border: dotted 3px lightgray; }
  .nv-file-over { border: dotted 3px red; }
  .another-file-over-class { border: dotted 3px green; }
</style>

<!-- <div ng2-file-drop
     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
     (file-over)="fileOverAnother($event)"
     [uploader]="uploader"
     class="well my-drop-zone">
     Base drop zone
</div> -->

This doesnt do anything yet.
<!-- <input type="file" ng2-file-select [uploader]="uploader" multiple /> -->
<button class="ucp-btn" (click)="submit()">Upload File</button>
